<%= form_for [@service_system, @process_entity] do |f| %>

  <% if @process_entity.errors.any? %>
    <div id="error-explanation">
      <h4><%= pluralize @process_entity.errors.count, "error" %> prevented this process_entity from being saved:</h4>
      <ul>
      <% @process_entity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table>
  
    <tr>
      <td><%= f.label :label %></td>
      <td><%= f.text_field :label, class: "span5" %></td>
    </tr>
  
    <tr>
      <td><%= f.label :comment %></td>
      <td><%= f.text_area :comment, class: "span5", rows: "3" %></td>
    </tr>
  
  </table>
  
  <div class="actions">
    <%= link_to "Back to list", service_system_process_entities_path, class: "btn btn-link" %>
    <%= f.submit "Save", class: "btn btn-success" %>
  </div>

<% end %>
