<h3><%= @process_entity.label %></h3>

<p>
  <strong>URI of BPMN description:</strong>
  <%= @process_entity.bpmn_uri %>
</p>
<% if @process_entity.comment.present? %>
<p>
  <%= @process_entity.comment %>
</p>
<% end %>

<p>
  <%= link_to 'Back to list', service_system_process_entities_path, class: "btn btn-link" %>
  <%= link_to "Delete", service_system_process_entity_path(@service_system.id, @process_entity.id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this?" } %>
  <%= link_to 'Edit', edit_service_system_process_entity_path(@service_system.id, @process_entity.id), class: "btn btn-success" %>
</p>
