<% if true %>

<table id="interactions-table">
  <tr>
    <td><p class="subtitle">Line of interaction</p></td>
    <% for interaction in @interactions[0] %>
      <td><div class="well well-small span3" style="height: 120px">
        <h4><%= link_to interaction.label, service_system_interaction_path(@service_system.id, interaction.id) %></h4>
        <p><%= interaction.comment %></p>
      </div></td>
    <% end %>
  </tr>
  <tr>
    <td><p class="subtitle">Line of visibility</p></td>
    <% for interaction in @interactions[1] %>
      <td><div class="well well-small span3" style="height: 120px">
        <h4><%= link_to interaction.label, service_system_interaction_path(@service_system.id, interaction.id) %></h4>
        <p><%= interaction.comment %></p>
      </div></td>
    <% end %>
  </tr>
  <tr>
    <td><p class="subtitle">Line of internal interaction</p></td>
    <% for interaction in @interactions[2] %>
      <td><div class="well well-small span3" style="height: 120px">
        <h4><%= link_to interaction.label, service_system_interaction_path(@service_system.id, interaction.id) %></h4>
        <p><%= interaction.comment %></p>
      </div></td>
    <% end %>
  </tr>
  <tr>
    <td></td>
    <% for interaction in @interactions[3] %>
      <td><div class="well well-small span3" style="height: 120px">
        <h4><%= link_to interaction.label, service_system_interaction_path(@service_system.id, interaction.id) %></h4>
        <p><%= interaction.comment %></p>
      </div></td>
    <% end %>
  </tr>
</table>

<% else %>
<br />
<p><%= link_to "New Interaction", new_service_system_interaction_path, class: "btn btn-success" %></p>

<% @interactions.each do |interaction| %>

<div class="well span4">
  <h4><%= link_to interaction.label, service_system_interaction_path(@service_system.id, interaction.id) %></h4>

  <p>
    <strong>Interaction type:</strong>
    <%= interaction.interaction_type %>
  </p>

  <p>
    <strong>Comment:</strong><br />
    <%= interaction.comment %>
  </p>
</div>
<% end %>

<% end %>
