<div id="service-metadata">
  <div class="row service-data">
    <div class="span8">
      <span class="code">
        <% if @service_system.prefix.present? %><%= @service_system.prefix %>: <% end %>
        &lt;<%= @service_system.uri %>&gt;
      </span>
      <p><%= @service_system.comment %></p>
    </div>
    <div class="span4">
      <a href="#" class="btn toggle-interactions-menu"><i class="icon-list-alt"></i> Show menu</a>
      <%= link_to "New Interaction", new_service_system_interaction_path, class: 'btn btn-success' %>
    </div>
  </div>
  <div class="slide-menu">
    <div class="row">
      <div class="span12">
        <%= link_to 'Edit metadata', edit_service_system_path(@service_system), class: "btn btn-success" %>
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-eye-open"></i> View interactions as <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li<% if @full_width %> class="active"<% end %>><a href="?view_status=esb">Extended service blueprint</a></li>
            <li<% if not @full_width %> class="active"<% end %>><a href="?view_status=list">Ordinary list</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-download-alt"></i> Export <% if @filter.select { |k,v| v.present? }.present? %> filtered <% end %>data to <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'LSS-USDL file', service_system_export_to_lss_usdl_path(@service_system, :filter => @filter), target: "_blank" %></li>
            <li><%= link_to 'Linked USDL file', service_system_export_to_linked_usdl_path(@service_system, :filter => @filter), target: "_blank" %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <hr />
        <%= form_tag("/service_systems/#{@service_system.id}/interactions", method: :get, id: 'filter-form', class: "form-inline") do %>
          <%= select_tag :roles, options_from_collection_for_select(@roles, "id", "label", @filter[:roles]), prompt: "All roles", class: "span4" %>
          <%= select_tag :goals, options_from_collection_for_select(@goals, "id", "label", @filter[:goals]), prompt: "All goals", class: "span4" %>
          <%= select_tag :locations, options_from_collection_for_select(@locations, "id", "label", @filter[:locations]), prompt: "All locations", class: "span4" %>
          <%= select_tag :processes, options_from_collection_for_select(@processes, "id", "label", @filter[:processes]), prompt: "All processes", class: "span4" %>
          <%= select_tag :resources, options_from_collection_for_select(@resources, "id", "label", @filter[:resources]), prompt: "All resources", class: "span4" %>
          <%= link_to 'Clear filters', service_system_interactions_path(@service_system), class: "btn", style: "margin: -10px 0 0 105px" %>
          <%= submit_tag "Apply filter", class: "btn btn-primary", style: "margin-top: -10px" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @full_width %>

  <div id="blueprint">

    <table id="interactions-table">
      <tr>
        <td><p class="subtitle">Line of interaction</p></td>
        <% for interaction in @interactions[0] %>
          <td><%= render 'blueprint_node', interaction: interaction %></td>
        <% end %>
      </tr>
      <tr>
        <td><p class="subtitle">Line of visibility</p></td>
        <% for interaction in @interactions[1] %>
          <td><%= render 'blueprint_node', interaction: interaction %></td>
        <% end %>
      </tr>
      <tr>
        <td><p class="subtitle">Line of internal interaction</p></td>
        <% for interaction in @interactions[2] %>
          <td><%= render 'blueprint_node', interaction: interaction %></td>
        <% end %>
      </tr>
      <tr>
        <td></td>
        <% for interaction in @interactions[3] %>
          <td><%= render 'blueprint_node', interaction: interaction %></td>
        <% end %>
      </tr>
    </table>

  </div>

<% else %>

<div class="interactions-list">

  <% @interactions.each do |interaction| %>

    <div class="well">
      <h4><%= link_to interaction.label, service_system_interaction_path(@service_system.id, interaction.id) %></h4>

      <% if interaction.interaction_type.present? %>
      <p>
        <strong>Interaction type:</strong>
        <%= interaction.interaction_type.gsub /Interaction/, " interaction" %>
      </p>
      <% end %>
      <% if interaction.roles.present? %>
      <p>
        <strong>Roles:</strong>
        <% interaction.roles.each do |role| %>
          <span class="label">
            <a href="<%= service_system_role_path(@service_system.id, role.id) %>">
              <i class="icon-user icon-white"></i>
              <%= role %>
            </a>
          </span>
        <% end %>
      </p>
      <% end %>
      <% if interaction.time_string.present? %>
      <p>
        <strong>Time:</strong>
        <span class="label">
          <a href="<%= service_system_interaction_path(@service_system.id, interaction.id) %>">
            <i class="icon-time icon-white"></i>
            <%= interaction.time_string %>
          </a>
        </span>
      </p>
      <% end %>
      <% if interaction.goals.present? %>
      <p>
        <strong>Goals:</strong>
        <% interaction.goals.each do |goal| %>
          <span class="label label-info">
            <a href="<%= service_system_goal_path(@service_system.id, goal.id) %>">
              <i class="icon-screenshot icon-white"></i>
              <%= goal %>
            </a>
          </span>
        <% end %>
      </p>
      <% end %>
      <% if interaction.locations.present? %>
      <p>
        <strong>Locations:</strong>
        <% interaction.locations.each do |location| %>
          <span class="label">
            <a href="<%= service_system_location_path(@service_system.id, location.id) %>">
              <i class="icon-globe icon-white"></i>
              <%= location %>
            </a>
          </span>
        <% end %>
      </p>
      <% end %>
      <% if interaction.processes.present? %>
      <p>
        <strong>Processes:</strong>
        <% interaction.processes.each do |process| %>
          <span class="label">
            <a href="<%= service_system_process_entity_path(@service_system.id, process.id) %>">
              <i class="icon-tasks icon-white"></i>
              <%= process %>
            </a>
          </span>
        <% end %>
      </p>
      <% end %>
      <% if interaction.received_resources.present? %>
      <p>
        <strong>Received resources:</strong>
        <% interaction.received_resources.each do |resource| %>
          <span class="label label-warning">
            <a href="<%= service_system_resource_path(@service_system.id, resource.id) %>">
              <i class="icon-arrow-down icon-white"></i>
              <i class="icon-book icon-white"></i>
              <%= resource %>
            </a>
          </span>
        <% end %>
      </p>
      <% end %>
      <% if interaction.created_resources.present? %>
      <p>
        <strong>Created resources:</strong>
        <% interaction.created_resources.each do |resource| %>
          <span class="label label-success">
            <a href="<%= service_system_resource_path(@service_system.id, resource.id) %>" data-toggle="tooltip" title="Creates resource: <%= resource %>">
              <i class="icon-arrow-down icon-white"></i>
              <i class="icon-book icon-white"></i>
              <%= resource %>
            </a>
          </span>
        <% end %>
      </p>
      <% end %>
      <% if interaction.consumed_resources.present? %>
      <p>
        <strong>Consumed resources:</strong>
        <% interaction.consumed_resources.each do |resource| %>
          <span class="label label-important">
            <a href="<%= service_system_resource_path(@service_system.id, resource.id) %>" data-toggle="tooltip" title="Consumes resource: <%= resource %>">
              <i class="icon-arrow-up icon-white"></i>
              <i class="icon-book icon-white"></i>
              <%= resource %>
            </a>
          </span>
        <% end %>
      </p>
      <% end %>
      <% if interaction.returned_resources.present? %>
      <p>
        <strong>Returned resources:</strong>
        <% interaction.returned_resources.each do |resource| %>
          <span class="label label-warning">
            <a href="<%= service_system_resource_path(@service_system.id, resource.id) %>" data-toggle="tooltip" title="Returns resource: <%= resource %>">
              <i class="icon-arrow-up icon-white"></i>
              <i class="icon-book icon-white"></i>
              <%= resource %>
            </a>
          </span>
        <% end %>
      </p>
      <% end %>
      <% if interaction.comment.present? %>
      <p>
        <%= interaction.comment %>
      </p>
      <% end %>

      <p>
        <%= link_to "Edit", edit_service_system_interaction_path(@service_system.id, interaction.id) %> |
        <%= link_to "Delete", service_system_interaction_path(@service_system.id, interaction.id), method: :delete, data: { confirm: "Are you sure you want to delete this?" } %>
      </p>
    </div>

  <% end %>

</div>

<% end %>
