<!--<div id="interactions-menu-area">

  <%= form_tag("/service_systems/#{@service_system.id}/interactions", method: :get, id: 'filter-form') do %>

    <ul id="interactions-menu" class="nav nav-list well">

      <li class="nav-header">Create</li>
      <li><%= link_to "New Interaction", new_service_system_interaction_path %></li>

      <li class="nav-header">Display interactions as</li>
      <li<% if @full_width %> class="active"<% end %>><a href="?view_status=esb">Extended service blueprint</a></li>
      <li<% if not @full_width %> class="active"<% end %>><a href="?view_status=list">Ordinary list</a></li>

      <li class="nav-header">Filter interactions</li>
      <li>
        <%= select_tag :roles, options_from_collection_for_select(@roles, "id", "label"), prompt: "All roles" %>
        <%= select_tag :time, '<option value>All times</option><option value="interval">Interval</option><option value="instant">Instant</option>'.html_safe %>
        <%= select_tag :goals, options_from_collection_for_select(@goals, "id", "label"), prompt: "All goals" %>
        <%= select_tag :locations, options_from_collection_for_select(@locations, "id", "label"), prompt: "All locations" %>
        <%= select_tag :processes, options_from_collection_for_select(@processes, "id", "label"), prompt: "All processes" %>
        <%= select_tag :resources, options_from_collection_for_select(@resources, "id", "label"), prompt: "All resources" %>
      </li>
      <li><%= submit_tag "Apply filters", class: "btn btn-primary" %></li>

      <li class="nav-header">Export</li>
      <li><a href="#">To LSS-USDL file</a></li>
      <li><a href="#">To Linked USDL file</a></li>
    </ul>

    <div class="btn-group" display="float: right">
      <a href="#" class="btn" style="display: none"></a>
      <a href="#" class="btn toggle-interactions-menu"><i class="icon-list-alt"></i></a>
    </div>

  <% end %>

</div>-->

<div id="service-metadata">
  <div class="row service-data">
    <div class="span8">
      <span class="code">
        <% if @service_system.prefix.present? %><%= @service_system.prefix %>: <% end %>
        &lt;<%= @service_system.uri %>&gt;
      </span>
      <p><%= @service_system.comment %></p>
    </div>
    <div class="span4">
      <a href="#" class="btn toggle-interactions-menu"><i class="icon-list-alt"></i> Show menu</a>
      <%= link_to "New Interaction", new_service_system_interaction_path, class: 'btn btn-success' %>
    </div>
  </div>
  <div class="row slide-menu">
    <div class="span12">
      <%= link_to 'Edit metadata', edit_service_system_path(@service_system), class: "btn btn-success" %>
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-eye-open"></i> View interactions as <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li<% if @full_width %> class="active"<% end %>><a href="?view_status=esb">Extended service blueprint</a></li>
          <li<% if not @full_width %> class="active"<% end %>><a href="?view_status=list">Ordinary list</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-download-alt"></i> Export data to <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">LSS-USDL file</a></li>
          <li><a href="#">Linked USDL file</a></li>
        </ul>
      </div>
    </div>
    <div class="span12">
      <hr />
      <%= form_tag("/service_systems/#{@service_system.id}/interactions", method: :get, id: 'filter-form', class: "form-inline") do %>
        <!--<p id="filters-description">
          Show All roles, All times, All goals, All locations, All processes, All resources
          <%= submit_tag "Apply this filter", class: "btn btn-primary", style: "margin-left: 10px" %>
        </p>-->
        <%= select_tag :roles, options_from_collection_for_select(@roles, "id", "label"), prompt: "All roles", class: "span4" %>
        <%= select_tag :time, '<option value>All times</option><option value="interval">Interval</option><option value="instant">Instant</option>'.html_safe, class: "span4" %>
        <%= select_tag :goals, options_from_collection_for_select(@goals, "id", "label"), prompt: "All goals", class: "span4" %>
        <%= select_tag :locations, options_from_collection_for_select(@locations, "id", "label"), prompt: "All locations", class: "span4" %>
        <%= select_tag :processes, options_from_collection_for_select(@processes, "id", "label"), prompt: "All processes", class: "span4" %>
        <%= select_tag :resources, options_from_collection_for_select(@resources, "id", "label"), prompt: "All resources", class: "span4" %>
        <p style="text-align: right"><%= submit_tag "Apply this filter", class: "btn btn-primary", style: "margin-right: 30px" %></p>
      <% end %>
    </div>
  </div>
</div>

<% if @full_width %>

  <div id="blueprint">

    <table id="interactions-table">
      <tr>
        <td><p class="subtitle">Line of interaction</p></td>
        <% for interaction in @interactions[0] %>
          <td><%= render 'blueprint_node', interaction: interaction %></td>
        <% end %>
      </tr>
      <tr>
        <td><p class="subtitle">Line of visibility</p></td>
        <% for interaction in @interactions[1] %>
          <td><%= render 'blueprint_node', interaction: interaction %></td>
        <% end %>
      </tr>
      <tr>
        <td><p class="subtitle">Line of internal interaction</p></td>
        <% for interaction in @interactions[2] %>
          <td><%= render 'blueprint_node', interaction: interaction %></td>
        <% end %>
      </tr>
      <tr>
        <td></td>
        <% for interaction in @interactions[3] %>
          <td><%= render 'blueprint_node', interaction: interaction %></td>
        <% end %>
      </tr>
    </table>

  </div>

<% else %>

  <% @interactions.each do |interaction| %>

    <hr />
    <h4><%= link_to interaction.label, service_system_interaction_path(@service_system.id, interaction.id) %></h4>

    <% if interaction.interaction_type.present? %>
    <p>
      <strong>Interaction type:</strong>
      <%= interaction.interaction_type.gsub /Interaction/, " interaction" %>
    </p>
    <% end %>
    <% if interaction.roles.present? %>
    <p>
      <strong>Roles:</strong>
      <%= interaction.roles.join(", ") %>
    </p>
    <% end %>
    <% if interaction.temporal_entity_type.present? %>
    <p>
      <strong>Time:</strong>
      <%= interaction.temporal_entity_type %>
      <% if interaction.time_description.present? %>
        at <%= interaction.time_description %>
      <% end %>
      <% if interaction.duration_description.present? %>
        during <%= interaction.duration_description %>
      <% end %>
    </p>
    <% end %>
    <% if interaction.goals.present? %>
    <p>
      <strong>Goals:</strong>
      <%= interaction.goals.join(", ") %>
    </p>
    <% end %>
    <% if interaction.locations.present? %>
    <p>
      <strong>Locations:</strong>
      <%= interaction.locations.join(", ") %>
    </p>
    <% end %>
    <% if interaction.processes.present? %>
    <p>
      <strong>Processes:</strong>
      <%= interaction.processes.join(", ") %>
    </p>
    <% end %>
    <% if interaction.resources.present? %>
    <p>
      <strong>Resources:</strong>
      <%= interaction.resources.join(", ") %>
    </p>
    <% end %>
    <% if interaction.comment.present? %>
    <p>
      <%= interaction.comment %>
    </p>
    <% end %>

    <p>
      <%= link_to "Edit", edit_service_system_interaction_path(@service_system.id, interaction.id) %> |
      <%= link_to "Delete", service_system_interaction_path(@service_system.id, interaction.id), method: :delete, data: { confirm: "Are you sure you want to delete this?" } %>
    </p>

  <% end %>

<% end %>
