<div id="interactions-menu-area">

  <%= form_tag("/service_systems/#{@service_system.id}/interactions", method: :get, id: 'filter-form') do %>

    <ul id="interactions-menu" class="nav nav-list well">

      <li class="nav-header">Create</li>
      <li><%= link_to "New Interaction", new_service_system_interaction_path %></li>

      <li class="nav-header">Display interactions as</li>
      <li<% if @full_width %> class="active"<% end %>><a href="?view_status=esb">Extended service blueprint</a></li>
      <li<% if not @full_width %> class="active"<% end %>><a href="?view_status=list">Ordinary list</a></li>

      <li class="nav-header">Filter interactions</li>
      <li>
        <%= select_tag :roles, options_from_collection_for_select(@roles, "id", "label"), prompt: "All roles" %>
        <%= select_tag :time, '<option value>All times</option><option value="interval">Interval</option><option value="instant">Instant</option>'.html_safe %>
        <%= select_tag :goals, options_from_collection_for_select(@goals, "id", "label"), prompt: "All goals" %>
        <%= select_tag :locations, options_from_collection_for_select(@locations, "id", "label"), prompt: "All locations" %>
        <%= select_tag :processes, options_from_collection_for_select(@processes, "id", "label"), prompt: "All processes" %>
        <%= select_tag :resources, options_from_collection_for_select(@resources, "id", "label"), prompt: "All resources" %>
      </li>
      <li><%= submit_tag "Apply filters", class: "btn btn-primary" %></li>
    </ul>

    <div class="btn-group" display="float: right">
      <a href="#" class="btn" style="display: none"></a>
      <a href="#" class="btn toggle-interactions-menu"><i class="icon-list-alt"></i></a>
    </div>

    <% end %>

  </div>

<% if @full_width %>

  <div id="blueprint">

    <table id="interactions-table">
      <tr>
        <td><p class="subtitle">Line of interaction</p></td>
        <% for interaction in @interactions[0] %>
          <td><%= render 'blueprint_node', interaction: interaction %></td>
        <% end %>
      </tr>
      <tr>
        <td><p class="subtitle">Line of visibility</p></td>
        <% for interaction in @interactions[1] %>
          <td><%= render 'blueprint_node', interaction: interaction %></td>
        <% end %>
      </tr>
      <tr>
        <td><p class="subtitle">Line of internal interaction</p></td>
        <% for interaction in @interactions[2] %>
          <td><%= render 'blueprint_node', interaction: interaction %></td>
        <% end %>
      </tr>
      <tr>
        <td></td>
        <% for interaction in @interactions[3] %>
          <td><%= render 'blueprint_node', interaction: interaction %></td>
        <% end %>
      </tr>
    </table>

  </div>

<% else %>

  <% @interactions.each do |interaction| %>

    <hr />
    <h4><%= link_to interaction.label, service_system_interaction_path(@service_system.id, interaction.id) %></h4>

    <% if interaction.interaction_type.present? %>
    <p>
      <strong>Interaction type:</strong>
      <%= interaction.interaction_type.gsub /Interaction/, " interaction" %>
    </p>
    <% end %>
    <% if interaction.roles.present? %>
    <p>
      <strong>Roles:</strong>
      <%= interaction.roles.join(", ") %>
    </p>
    <% end %>
    <% if interaction.temporal_entity_type.present? %>
    <p>
      <strong>Time:</strong>
      <%= interaction.temporal_entity_type %>
      <% if interaction.time_description.present? %>
        at <%= interaction.time_description %>
      <% end %>
      <% if interaction.duration_description.present? %>
        during <%= interaction.duration_description %>
      <% end %>
    </p>
    <% end %>
    <% if interaction.goals.present? %>
    <p>
      <strong>Goals:</strong>
      <%= interaction.goals.join(", ") %>
    </p>
    <% end %>
    <% if interaction.locations.present? %>
    <p>
      <strong>Locations:</strong>
      <%= interaction.locations.join(", ") %>
    </p>
    <% end %>
    <% if interaction.processes.present? %>
    <p>
      <strong>Processes:</strong>
      <%= interaction.processes.join(", ") %>
    </p>
    <% end %>
    <% if interaction.resources.present? %>
    <p>
      <strong>Resources:</strong>
      <%= interaction.resources.join(", ") %>
    </p>
    <% end %>
    <% if interaction.comment.present? %>
    <p>
      <%= interaction.comment %>
    </p>
    <% end %>

    <p>
      <%= link_to "Edit", edit_service_system_interaction_path(@service_system.id, interaction.id) %> |
      <%= link_to "Delete", service_system_interaction_path(@service_system.id, interaction.id), method: :delete, data: { confirm: "Are you sure you want to delete this?" } %>
    </p>

  <% end %>

<% end %>
