<h3><%= @interaction.label %></h3>

<% if @interaction.interaction_type.present? %>
<p>
  <strong>Interaction type:</strong>
  <%= @interaction.interaction_type.gsub /Interaction/, " interaction" %>
</p>
<% end %>
<% if @interaction.roles.present? %>
<p>
  <strong>Roles:</strong>
  <%= @interaction.roles.join(", ") %>
</p>
<% end %>
<% if @interaction.temporal_entity_type.present? %>
<p>
  <strong>Time:</strong>
  <%= @interaction.temporal_entity_type %>
  <% if @interaction.time_description.present? %>
    at <%= @interaction.time_description %>
  <% end %>
  <% if @interaction.duration_description.present? %>
    during <%= @interaction.duration_description %>
  <% end %>
</p>
<% end %>
<% if @interaction.goals.present? %>
<p>
  <strong>Goals:</strong>
  <%= @interaction.goals.join(", ") %>
</p>
<% end %>
<% if @interaction.locations.present? %>
<p>
  <strong>Locations:</strong>
  <%= @interaction.locations.join(", ") %>
</p>
<% end %>
<% if @interaction.processes.present? %>
<p>
  <strong>Processes:</strong>
  <%= @interaction.processes.join(", ") %>
</p>
<% end %>
<% if @interaction.resources.present? %>
<p>
  <strong>Resources:</strong><br />
  <ul>
    <% if @interaction.received_resources.present? %><li>Receives <%= @interaction.received_resources.join(", ") %></li><% end %>
    <% if @interaction.created_resources.present? %><li>Creates <%= @interaction.created_resources.join(", ") %></li><% end %>
    <% if @interaction.consumed_resources.present? %><li>Consumes <%= @interaction.consumed_resources.join(", ") %></li><% end %>
    <% if @interaction.returned_resources.present? %><li>Returns <%= @interaction.returned_resources.join(", ") %></li><% end %>
  </ul>
</p>
<% end %>
<% if @interaction.comment.present? %>
<p>
  <%= @interaction.comment %>
</p>
<% end %>

<p>
  <%= link_to 'Back to list', service_system_interactions_path, class: "btn btn-link" %>
  <%= link_to "Delete", service_system_interaction_path(@service_system.id, @interaction.id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this?" } %>
  <%= link_to 'Edit', edit_service_system_interaction_path(@service_system.id, @interaction.id), class: "btn btn-success" %>
</p>