<h3><%= @interaction.label %></h3>


<p>
  <strong>Semantic ID:</strong>
  <%= @interaction.sid %>
</p>

<p>
  <strong>Interaction type:</strong>
  <%= @interaction.interaction_type %>
</p>

<p>
  <strong>Comment:</strong><br />
  <%= @interaction.comment %>
</p>

<p>
  <%= link_to 'Back to list', service_system_interactions_path, class: "btn btn-link" %>
  <%= link_to "Delete", service_system_interaction_path(@service_system.id, @interaction.id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this?" } %>
  <%= link_to 'Edit', edit_service_system_interaction_path(@service_system.id, @interaction.id), class: "btn btn-success" %>
</p>
