<%= form_for @service_system do |f| %>

  <% if @service_system.errors.any? %>
    <div id="error-explanation">
      <h4><%= pluralize @service_system.errors.count, "error" %> prevented this service_system from being saved:</h4>
      <ul>
      <% @service_system.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table>
  
    <tr>
      <td><%= f.label :uri %></td>
      <td><%= f.text_field :uri, class: "span5" %></td>
    </tr>
  
    <tr>
      <td><%= f.label :prefix %></td>
      <td><%= f.text_field :prefix, class: "span5" %></td>
    </tr>
  
    <tr>
      <td><%= f.label :label %></td>
      <td><%= f.text_field :label, class: "span5" %></td>
    </tr>
  
    <tr>
      <td><%= f.label :comment %></td>
      <td><%= f.text_area :comment, class: "span5", rows: 3 %></td>
    </tr>
  
  </table>
  
  <div class="actions">
    <%= link_to "Back to list", service_systems_path, class: "btn btn-link" %>
    <%= f.submit "Save", class: "btn btn-success" %>
  </div>

<% end %>
