<h3>Service systems</h3>

<%= link_to "New Service system", new_service_system_path, class: "btn btn-success" %>

<% @service_systems.each do |service_system| %>

<hr />
<h4><%= link_to service_system.label, service_system %></h4>

<p>
  <strong>URI:</strong>
  <%= service_system.uri %>
</p>
<% if service_system.prefix.present? %>
<p>
  <strong>Prefix:</strong>
  <%= service_system.prefix %>
</p>
<% end %>
<% if service_system.user %>
<p>
  <strong>Author:</strong>
  <%= service_system.user %>
</p>
<% end %>
<% if service_system.comment.present? %>
<p>
  <%= service_system.comment %>
</p>
<% end %>

<% if service_system.user == current_user %>
<p>
  <%= link_to "Edit", edit_service_system_path(service_system) %> |
  <%= link_to "Delete", service_system, method: :delete, data: { confirm: "Are you sure you want to delete this?" } %>
</p>
<% end %>

<% end %>
