<h3>service_systems</h3>

<% @service_systems.each do |service_system| %>

<h4><%= link_to service_system.label, service_system %></h4>

<p>
  <strong>URI:</strong>
  <%= service_system.uri %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= service_system.prefix %>
</p>

<p>
  <strong>Author:</strong>
  <%= service_system.user %>
</p>

<p>
  <strong>Comment:</strong><br />
  <%= service_system.comment %>
</p>

<p>
  <%= link_to "Edit", edit_service_system_path(service_system) %> |
  <%= link_to "Delete", service_system, method: :delete, data: { confirm: "Are you sure you want to delete this?" } %>
</p>

<hr />
<% end %>

<%= link_to "New Service system", new_service_system_path, class: "btn btn-success" %>
