<h3>service_system</h3>

<table>

  <tr>
    <td><strong>Uri</strong></td>
    <td><%= @service_system.uri %></td>
  </tr>

  <tr>
    <td><strong>Prefix</strong></td>
    <td><%= @service_system.prefix %></td>
  </tr>

  <tr>
    <td><strong>Label</strong></td>
    <td><%= @service_system.label %></td>
  </tr>

  <tr>
    <td><strong>Comment</strong></td>
    <td><%= @service_system.comment %></td>
  </tr>

</table>

<br />

<%= link_to 'Back to list', service_systems_path, class: "btn btn-link" %>
<%= link_to 'Edit', edit_service_system_path(@service_system), class: "btn btn-success" %>
