<h3><%= plural_table_name.humanize %></h3>

<%%= link_to "New <%= human_name %>", new_<%= singular_table_name %>_path, class: "btn btn-success" %>

<%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>

<hr />
<h4><%%= link_to <%= singular_table_name %>.label, <%= singular_table_name %> %></h4>
<% attributes.each do |attribute| %><% if attribute.name != "label" %>
<p>
  <strong><%= attribute.human_name.gsub /_id$/, "" %>:</strong><% if attribute.name == "comment" %><br /><% end %>
  <%%= <%= singular_table_name %>.<%= attribute.name.gsub /_id$/, "" %> %>
</p>
<% end %><% end %>
<p>
  <%%= link_to "Edit", edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %> |
  <%%= link_to "Delete", <%= singular_table_name %>, method: :delete, data: { confirm: "Are you sure you want to delete this?" } %>
</p>

<%% end %>
