<h3><%= @role.label %></h3>


<p>
  <strong>Semantic ID:</strong>
  <%= @role.sid %>
</p>

<% if @role.business_entity %>
<p>
  <strong>Business entity:</strong>
  <%= link_to @role.business_entity, service_system_business_entity_path(@service_system.id, @role.business_entity.id) %>
</p>
<% end %>

<p>
  <strong>Comment:</strong><br />
  <%= @role.comment %>
</p>

<p>
  <%= link_to 'Back to list', service_system_roles_path, class: "btn btn-link" %>
  <%= link_to "Delete", service_system_role_path(@service_system.id, @role.id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this?" } %>
  <%= link_to 'Edit', edit_service_system_role_path(@service_system.id, @role.id), class: "btn btn-success" %>
</p>
