<h3><%= @business_entity.foaf_name %></h3>

<p>
  <strong>Semantic ID:</strong>
  <%= @business_entity.sid %>
</p>
<% if @business_entity.foaf_page.present? %>
<p>
  <strong>Webpage:</strong>
  <%= @business_entity.foaf_page %>
</p>
<% end %>
<% if @business_entity.foaf_logo.present? %>
<p>
  <strong>Logo:</strong>
  <%= @business_entity.foaf_logo %>
</p>
<% end %>
<% if @business_entity.s_telephone.present?%>
<p>
  <strong>Telephone:</strong>
  <%= @business_entity.s_telephone %>
</p>
<% end %>
<% if @business_entity.s_email.present? %>
<p>
  <strong>Email:</strong>
  <%= @business_entity.s_email %>
</p>
<% end %>
<% if @business_entity.gr_description.present? %>
<p>
  <%= @business_entity.gr_description %>
</p>
<% end %>

<p>
  <%= link_to 'Back to list', service_system_business_entities_path, class: "btn btn-link" %>
  <%= link_to "Delete", service_system_business_entity_path(@service_system.id, @business_entity.id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this?" } %>
  <%= link_to 'Edit', edit_service_system_business_entity_path(@service_system.id, @business_entity.id), class: "btn btn-success" %>
</p>
