<h3>Goals</h3>

<%= link_to "New Goal", new_service_system_goal_path, class: "btn btn-success" %>

<% @goals.each do |goal| %>

<hr />
<h4><%= link_to goal.label, service_system_goal_path(@service_system.id, goal.id) %></h4>

<p>
  <strong>Comment:</strong><br />
  <%= goal.comment %>
</p>

<p>
  <%= link_to "Edit", edit_service_system_goal_path(@service_system.id, goal.id) %> |
  <%= link_to "Delete", service_system_goal_path(@service_system.id, goal.id), method: :delete, data: { confirm: "Are you sure you want to delete this?" } %>
</p>

<% end %>
