<h3><%= @goal.label %></h3>


<p>
  <strong>Semantic ID:</strong>
  <%= @goal.sid %>
</p>

<p>
  <strong>Comment:</strong><br />
  <%= @goal.comment %>
</p>

<p>
  <%= link_to 'Back to list', goals_path, class: "btn btn-link" %>
  <%= link_to "Delete", goals_path(@goal), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this?" } %>
  <%= link_to 'Edit', edit_goal_path(@goal), class: "btn btn-success" %>
</p>
