<!DOCTYPE html>
<html>
<head>
  <title><%= yield "#{:title} | " if content_for? :title %>LSS-USDL editor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link id="page_favicon" href="/favicon.ico" rel="icon" type="image/x-icon">
  <%= yield :head %>
</head>
<body>

  <div class="container<% if @full_width %>-fluid<% end %>">

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner" style="padding-left: 30px">
      <ul class="nav">

        <li><a href="/" class="brand"><img src="/logo.png" style="height: 25px; margin: -7px 0 -5px 0"/></a></li>

        <% if @service_system and @service_system.id and @navbar %>
          <li<% if @interactions_tab %> class="active"<% end %>>
            <%= link_to @service_system.label, service_system_interactions_path(@service_system.id) %>
          </li>
          <li<% if @metadata_tab %> class="active"<% end %>>
            <%= link_to "Metadata", service_system_path(@service_system.id) %>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Entities
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
            <% for navbar_item in @navbar %>
              <li><%= link_to navbar_item.humanize, "/service_systems/#{@service_system.id}/#{navbar_item}" %></li>
            <% end %>
            </ul>
          </li>
        <% end %>

      </ul>
      <ul class="nav pull-right">
      <% if current_user.present? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_user %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Edit account", edit_user_registration_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Register", new_user_registration_path, class: "navbar-link" %></li>
        <li><%= link_to "Sign in", new_user_session_path, class: "navbar-link" %></li>
      <% end %>
      </ul>
    </div>
  </div>

  <div style="margin-top: 50px"></div>

  <div style="width: 100%; position: absolute; z-index: 2; top: 40px; left: 0">
    <% if notice.present? %>
      <div class="alert alert-success fade in">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= notice %>
      </div>
    <% end %>
    <% if alert.present? %>
      <p class="alert fade in">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= alert %>
      </p>
    <% end %>
  </div>

  <% unless @full_width %>
  <div class="row">
    <div class="span12">
  <% end %>
      <%= yield %>
  <% unless @full_width %>
    </div>
  </div>
  <% end %>

  </div>

</body>
</html>
